# Entorno virtual y Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Datos de la Blockchain y Logs (No subir esto)
data/blockchain/*.db
data/logs/*.log
data/mining/*

# IMPORTANTE: Seguridad (Nunca subir llaves privadas)
data/wallets/*
*.pem
.env

# IDEs y Sistema
.vscode/
.idea/
.DS_Store